.navbar {
    padding: 20px;
    background-color: rgb(223, 224, 222);
}

.search {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.card {
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: left;
    margin-top: 3%;
    margin-left: 5%;
}
.menu{

}
.bar{
  position: absolute;
  width: 55%;
  height: 70%;
}

.repo-list{
    margin-top: 40%;
    position: absolute;
}